@keyframes winOpen {
    0% {
        transform: scale(0.96);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse-blue {
    0% {
        box-shadow: inset 0 0 5px rgba(0, 150, 255, 0.2);
    }

    50% {
        box-shadow: inset 0 0 15px rgba(0, 150, 255, 0.6);
    }

    100% {
        box-shadow: inset 0 0 5px rgba(0, 150, 255, 0.2);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 174, 255, 0.7);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 15px 10px rgba(0, 174, 255, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 174, 255, 0);
    }
}